{% extends "base.html" %}

{% block title %}My home page{% endblock title %}

{% block content %}
    <h1 class="HELLO">Welcome to my forum!</h1>


    <div class="topic-list-item">
        <table class="table" border="1">
                {% if topics %}
                    <tr class="nav-topics-list">
                        <th>Topic</th>
                        <th>Author</th>
                        <th>Date created</th>
                    </tr>

                {% endif %}
                <div class="topics-items">
                    {% for topic in topics %}
                        <tr class="topic-cell">
                            <td><a href="/topic/{{topic.id}}">{{ topic.title }}</a></td>
                            <td>{{ topic.author.username }}</td>
                            <td>{{ topic.created }}</td>
                        </tr>
                    {% endfor %}

                </div>

        </table>

         <!-- <img src="../static/logo.png" alt="logo"> -->
    </div>
{% endblock content %}