<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup | Ninja Tech Forum</title>
        <link rel="stylesheet" type="text/css" href="../static/style4.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    </head>
    <body>

    <p>
        <div class="novo">
            <a href="/">Home</a>
            <a href="/signup">Signup</a>
        </div>
    </p>

    <h1 class="HELLO">Sign in to my forum !</h1>

        <div class="topic-list-item signupbck">
            <form method="post">
                    <input type="text" name="username" placeholder="Enter a username" required> <br>
                    <input type="email" name="email-address" placeholder="Enter your email address" required> <br>
                    <input type="password" name="password" placeholder="Enter a password" required> <br>
                    <input type="password" name="repeat" placeholder="Repeat the password" required> <br>

                    <button>Submit</button>
            </form>
        </div>
    </body>
</html>